.tag{
    border-radius: 10px;
    width: fit-content;
    padding: 5px 15px 5px 15px;
    min-height: 40px;
    text-align: center;
    font-weight: 550 !important;
    align-content: center;
    margin-right: 10px !important;
}